#solution{
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    /* Centers the cards horizontally */
    padding: 0;
    gap: 20px;
    /* Adjust the spacing here as needed */
}
